<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link{% if app.request.get('_route') == 'app_index' %} active{% endif %}" href="{{ path('app_index') }}">Accueil
            {% if app.request.get('_route') == 'app_index' %}<span class="visually-hidden">(current)</span>{% endif %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if app.request.get('_route') == 'app_articles' %} active{% endif %}" href="{{ path('app_articles') }}">Articles</a>
            {% if app.request.get('_route') == 'app_articles' %}<span class="visually-hidden">(current)</span>{% endif %}
        </li>
        <li class="nav-item">
          <a class="nav-link{% if app.request.get('_route') == 'app_authors' %} active{% endif %}" href="{{ path('app_authors') }}">Auteurs</a>
            {% if app.request.get('_route') == 'app_authors' %}<span class="visually-hidden">(current)</span>{% endif %}
        </li>
        <li class="nav-item">
          <a class="nav-link{% if app.request.get('_route') == 'app_contact' %} active{% endif %}" href="{{ path('app_contact') }}">Nous contacter</a>
            {% if app.request.get('_route') == 'app_contact' %}<span class="visually-hidden">(current)</span>{% endif %}
        </li>
      </ul>
      {% if is_granted("ROLE_USER") %}
        <ul class="navbar-nav">
          {% if is_granted("ROLE_ADMIN") %}
            <li class="nav-item">
              <a class="nav-link" href="{{ path('admin_index') }}">Administration</a>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('account_index') }}">Mon compte</a>
          </li>
        </ul>
      {% else %}
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_register') }}">Créer un compte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login') }}">Me connecter</a>
          </li>
        </ul>
      {% endif %}
      {# <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form> #}
    </div>
  </div>
</nav>