{% extends 'base.html.twig' %}

{% block title %}{{ 'Register'|trans }}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app_register') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app_register') }}
{% endblock %}

{% block body %}
    <h1>{{ 'Register'|trans }}</h1>

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {{ form_errors(registrationForm) }}
    {{ form_start(registrationForm) }}
        <div id="register">
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }}
            {{ form_row(registrationForm.submit) }}
        </div>
    {{ form_end(registrationForm) }}
{% endblock %}
