{% extends 'base.html.twig' %}

{% block title %}Auteurs{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app_authors') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app_authors') }}
{% endblock %}

{% block body %}
    <h2>Liste des auteurs</h2>
    <div class="list">
        {% for author in authors %}
        <div class="author">
            <h3><a href="{{ path('app_author', { 'id': author.id }) }}">{{ author.firstname }} {{ author.lastname }}</a></h3>
        </div>
        {% endfor %}
    </div>
{% endblock %}