{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app_articles') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app_articles') }}
{% endblock %}

{% block body %}
    <h2>{{ 'Liste des articles'|trans }}</h2>
    <div class="list">
        {% for article in articles %}
        <div class="article">
            <h3><a href="{{ path('app_article', { 'id': article.id }) }}">{{ article.title }}</a></h3>
            <p>{{ 'Créé le'|trans }} {{ article.createdAt | format_datetime(locale='fr') }} {{ 'par'|trans }} {{ article.author.firstname }} {{ article.author.lastname }}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}